@font-face {
  font-family: 'NeueHaasRegular';
  src: url('/fonts/NeueHaasUnicaPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'NeueHassBold';
  src: url('/fonts/NeueHaasUnicaPro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'AkzidenzGroteskMedium';
  src: url('/fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'AkzidenzGroteskRegular';
  src: url('/fonts/AkzidenzGrotesk-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'AkzidenzGroteskLight';
  src: url('/fonts/AkzidenzGrotesk-Light.otf') format('opentype');
}
.mixin-body-font {
  font-size: 20px;
  margin-left: -0.09em;
}
@media screen and (min-width: 768px) {
  .mixin-body-font {
    font-size: 24px;
  }
}
body {
  background: #EFEFEF;
  color: #232323;
  margin: 0;
  font-family: "AkzidenzGroteskMedium";
  font-kerning: normal;
}
section {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  section {
    padding-left: 50px;
    padding-right: 50px;
  }
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
#hero {
  line-height: 1em;
  font-size: 80px;
  text-align: left;
  font-weight: bold;
  font-family: "AkzidenzGroteskRegular";
  margin-bottom: 80px;
  margin-top: 50px;
  margin-left: -0.09em;
}
@media screen and (min-width: 950px) {
  #hero {
    font-size: 120px;
  }
}
h2 {
  font-size: 32px;
  font-family: "AkzidenzGroteskLight";
  margin-bottom: 80px;
  margin-left: -0.09em;
  max-width: 800px;
}
a {
  color: #232323;
  text-decoration: none;
}
.thing {
  display: block;
  padding-bottom: 80px;
  font-size: 20px;
  margin-left: -0.09em;
}
@media screen and (min-width: 768px) {
  .thing {
    font-size: 24px;
  }
}
.thing h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.thing span:nth-child(1) {
  text-decoration: underline;
  margin-right: .4em;
}
.thing span:nth-child(2) {
  font-family: "AkzidenzGroteskLight";
  color: #AAA;
}
.thing p {
  font-family: "AkzidenzGroteskLight";
  display: inline-block;
}
.thing:hover {
  cursor: pointer;
}
.thing:hover p {
  background: yellow;
}
#th {
  display: inline-block;
  margin-left: .06em;
}
#clock {
  position: fixed;
  top: 50%;
  right: 25%;
}
.semicircle {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  border-color: blue;
  border-style: solid;
  border-radius: 100% 0% 0% 0%;
  border-width: 2px;
  will-change: 'transform';
  transform: rotate(45deg);
  transform-origin: bottom right;
}
.semicircle.inner {
  width: 160px;
  height: 160px;
}
.hand {
  display: inline-block;
  position: absolute;
  transform-origin: bottom right;
  opacity: 0.22;
}
.hours .semicircle {
  width: 160px;
  height: 160px;
  border-color: orange;
}
.hours .semicircle.inner {
  width: 120px;
  height: 120px;
}
.seconds .semicircle {
  width: 120px;
  height: 120px;
  border-color: green;
}
.seconds .semicircle.inner {
  width: 80px;
  height: 80px;
}
section.dark {
  height: auto;
  background-color: #232323;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  font-size: 20px;
  margin-left: -0.09em;
}
@media screen and (min-width: 768px) {
  section.dark {
    font-size: 24px;
  }
}
section.dark .thing {
  color: #EFEFEF;
}
section.dark .thing:hover p {
  color: #232323;
}
section.dark h2 {
  color: #EFEFEF;
}
@media screen and (min-width: 768px) {
  section.dark {
    padding-left: 50px;
    padding-right: 50px;
  }
}
