body{
  margin: 0px;
  background: #FEFEFE;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  /*font-weight: 400;*/
}
*{
  color: #333;
  /*border: 1px solid black;*/
  /*box-sizing: border-box;*/
}
a:hover{
  text-decoration: none
}
a:focus{
  text-decoration: none
}

h3{
  /*font-size: 24pt;*/
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  /*font-style: italic;*/
}
.project-text h3{
  font-size: 20pt;
  /*font-weight: 500;*/
}


.nick{
  border-radius: 100%;
  width: 130px;
  height: 130px;
  border: 6px solid #258;
  display: inline-block;
}
.nick img{
  width: 90%;
  display: block;
  margin: -15px auto;
  transition: .5s;
}
.nick img:hover{
  transform: rotate(360deg);
}
.page-header{
  margin: 0px;
  padding: 0px 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DDD;
  /*background: url("random_grey_variations_@2X.png");*/
  /*-webkit-filter: brightness(.4);*/
}
.greeting{
  font-family: "Oleo Script";
  display: inline;
  font-size: 40pt;
  color: #258;
  text-shadow: 2px 2px 0px #9ac;
}




.card-holder{
  padding-left: 0px;
  padding-right: 0px;
}
.main-content{
  /*margin: 10px;*/
  /*background: white;*/
}
.content-holder{
  padding-left: 10px;
  border-left: 1px solid #CCC;
}

.single-project{
  /*background: rgba(150,150,150,.1);*/
  background: white;
  color: grey;
  /*border-radius: 4px;*/
  overflow: hidden;
  /*border: 1px solid #CCC;*/
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
  /*margin-bottom: 20px;*/
  /*box-shadow: 0px 5px 5px rgba(0,0,0,.3);*/

  margin-bottom: 10px;
}

.project-text{
  padding: 10px;
  /*padding-left: 0px;*/
}

.top{
  font-family: 'Oleo Script', cursive;
  font-size: 100pt;
}

h3{
  margin-top: 5px;
  color: #666;
}

.navThing div{
  background: -webkit-linear-gradient(#258,#148);
  display: inline-block;
  width: 31.33%;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);

  color: white;
  padding: 5px;
  margin: 0px;
  transition: .2s;
  border-radius: 2px;
  font-size: 14pt;
  margin-bottom: 5px;
}
.navThing div:hover{
  background: -webkit-linear-gradient(#369,#258);
  transform: translateY(-4px);

}


@media screen and (min-width: 992px) {
  .project-body-container{
    padding-left: 0px;
  }
}

@media screen and (min-width: 768px) {

  .nick{
    width: 200px;
    height: 200px;
  }
  .greeting{
    font-size: 60pt;
  }
  .navThing div{
    width: auto;
    display: block;
  }
  .main-body{
    margin: 0px 40px;
  }
  .content-label h3{
    text-align: right;   
  }
  .content-label{
    width: 15%;
  }
  .main-content{

    /*margin-left: 0px;*/
    /*padding-left: 10px;*/
    margin-bottom: 40px;
  }
  .navThing div:hover{
    transform: translateX(-4px);
  }
}
.project-link{
  /*text-transform: uppercase;*/
  background: -webkit-linear-gradient(#258,#148);
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
  color: white;
  border-radius: 2px;
  border: 0px solid transparent;
  padding: 10px;
  position: relative;
  bottom: 0px;
  transition: .2s;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.project-link:hover{
  background: -webkit-linear-gradient(#369,#258);
  box-shadow: 4px 2px 2px rgba(0,0,0,.2);

  transform: translateY(-3px);
}

.thumb{
  width: 100%;
  opacity: .8;
  /*transition: .2s;*/
}
.thumb:hover{
  opacity: 1.0;
}
.img1{
  background: url('breezeblocks.png');
}
.contact-icon{
  /*box-shadow: 2px 2px 2px rgba(0,0,0,.2);*/

  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  /*background: white;*/
}
.contact-icon p{
    color: #148;
}
.contact-icon i{
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
  color: #258;
  transition: .2s;
}
.contact-icon i:hover{
  transform: translateY(-3px);
  text-decoration: none;
  cursor: pointer;
}

.thumbColumn{
  width: 240px;
}

.footer{
  position: relative;
  color: white;
  font-size: 9pt;
  bottom: 0px;
  height: 40px;
  width: 100%;
  margin-top: 40px;
  padding: 10px;
  background: #AAA;
}