body{
  margin: 0px;
  background: #EEEFEF;
  font-size: 12pt;
  font-family: sans-serif;
}
*{
  /*border: 1px solid black;*/
}
.nick{
  border-radius: 100%;
  width: 200px;
  height: 200px;
  border: 6px solid cyan;
  display: inline-block;
}
.nick img{
  width: 90%;
  display: block;
  margin: -15px auto;
}



.card-holder{
  padding-left: 0px;
  padding-right: 0px;
}
.main-content{
  /*margin: 10px;*/
  /*background: white;*/
}

.main-content p{
  border-left: 1px solid #CCC;
  padding-left: 10px;
}

.single-project{
  background: white;
  height: 100%;
  margin: 5px;
  min-height: 350px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 5px rgba(0,0,0,.1);
  overflow: hidden;
}

.top{
  font-family: 'Oleo Script', cursive;
  font-size: 100pt;
}

h3{
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .main-body{
    margin: 0px 40px;
  }
  .content-label h3{
    text-align: right;   
  }
  .content-label{
    width: 15%;
  }
  .main-content{
    /*margin-left: 0px;*/
    /*padding-left: 10px;*/
    margin-bottom: 10px;
  }
  .thumbFooter{
    bottom: 10px;
  }
}

.thumb{
  max-width: 100%;
  clip: auto;
  height: 200px;
  color: white;
  transition: .1s;
}
.thumb:hover{
  -webkit-filter: brightness(0.8);

}

.thumbText{
  padding: 5px;
}
.thumbFooter{
  padding: 5px;
  background: #DDD;
  width: inherit;
  position: absolute;
  bottom: 0px;
  width: calc(100% - 10px);
  display: block;
}
.img1{
  background: url('http://www.fillmurray.com/300/200');
  background-size: cover;
}
.footer{
  position: relative;
  color: white;
  bottom: 0px;
  height: 40px;
  width: 100%;
  margin-top: 40px;
  background: #AAA;
}