@font-face {
  font-family: 'NeueHaasRegular';
  src: url('/fonts/NeueHaasUnicaPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'NeueHassBold';
  src: url('/fonts/NeueHaasUnicaPro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'AkzidenzGroteskMedium';
  src: url('/fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'AkzidenzGroteskRegular';
  src: url('/fonts/AkzidenzGrotesk-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'AkzidenzGroteskLight';
  src: url('/fonts/AkzidenzGrotesk-Light.otf') format('opentype');
}
.mixin-body-font {
  font-size: 20px;
  margin-left: -0.09em;
}
@media screen and (min-width: 768px) {
  .mixin-body-font {
    font-size: 24px;
  }
}
body {
  --main-background: #EFEFEF;
  --main-content: #232323;
  --light-gray: #AAA;
  background: var(--main-background);
  color: var(--main-content);
  margin: 0;
  font-family: "AkzidenzGroteskMedium";
  font-kerning: normal;
}
section {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  section {
    padding-left: 50px;
    padding-right: 50px;
  }
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1 {
  position: absolute;
  opacity: 0;
}
#hero {
  line-height: 1em;
  font-size: 80px;
  text-align: left;
  font-weight: bold;
  font-family: "AkzidenzGroteskRegular";
  margin-bottom: 80px;
  margin-top: 50px;
  margin-left: -0.09em;
}
@media screen and (min-width: 950px) {
  #hero {
    font-size: 120px;
  }
}
h2 {
  font-size: 32px;
  font-family: "Junge", serif;

  margin-bottom: 80px;
  margin-left: -0.09em;
  max-width: 800px;
}
a {
  color: var(--main-content);
  text-decoration: none;
}
.thing {
  display: block;
  padding-bottom: 80px;
  font-size: 20px;
  margin-left: -0.09em;
}
@media screen and (min-width: 768px) {
  .thing {
    font-size: 24px;
  }
}
.thing h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.thing span:nth-child(1) {
  text-decoration: underline;
  margin-right: .4em;
}
.thing span:nth-child(2) {
  font-family: "AkzidenzGroteskLight";
  font-family: "Junge", serif;

  color: var(--light-gray);
}
.thing p {
  /* font-family: "AkzidenzGroteskLight"; */
  font-family: "Junge", serif;

  display: inline-block;
}
.thing:hover {
  cursor: pointer;
}
.thing:hover p {
  background: yellow;
}
#th {
  display: inline-block;
  margin-left: .06em;
}
#clock {
  position: fixed;
  top: 50%;
  right: 25%;
  pointer-events: none;
}
.semicircle {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  border-color: blue;
  border-style: solid;
  border-radius: 100% 0% 0% 0%;
  border-width: 2px;
  will-change: 'transform';
  transform: rotate(45deg);
  transform-origin: bottom right;
}
.semicircle.inner {
  width: 160px;
  height: 160px;
}
.hand {
  display: inline-block;
  position: absolute;
  transform-origin: bottom right;
  opacity: 0.22;
}
.hours .semicircle {
  width: 160px;
  height: 160px;
  border-color: orange;
}
.hours .semicircle.inner {
  width: 120px;
  height: 120px;
}
.seconds .semicircle {
  width: 120px;
  height: 120px;
  border-color: green;
}
.seconds .semicircle.inner {
  width: 80px;
  height: 80px;
}
section.dark {
  height: auto;
  background-color: var(--main-content);
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  font-size: 20px;
  margin-left: -0.09em;
}
@media screen and (min-width: 768px) {
  section.dark {
    font-size: 24px;
  }
}
section.dark .thing {
  color: var(--main-background);
}
section.dark .thing:hover p {
  color: var(--main-content);
}
section.dark h2 {
  color: var(--main-background);
}
@media screen and (min-width: 768px) {
  section.dark {
    padding-left: 50px;
    padding-right: 50px;
  }
}
section:last-of-type {
  margin-bottom: 40px;
}
footer {
  position: fixed;
  background-color: var(--main-background);
  color: var(--main-content);
  border-top: 1px solid var(--light-gray);
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'AkzidenzGroteskLight';
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
}
@media screen and (min-width: 480px) {
  footer {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}
footer > span {
  padding: 10px 0px;
  margin-right: auto;
  margin-left: -5px;
}
footer a {
  padding: 10px;
  margin-right: -5px;
}
footer a:hover {
  background: yellow;
}
.gate {
  position: fixed;
  top: 0;
  background: var(--main-content);
  color: var(--main-background);
  box-sizing: border-box;
  font-size: 24px;
  font-family: 'AkzidenzGroteskLight';
  padding: 2em;
  width: 100vw;
  height: 100vh;
}
.gate > div {
  padding-top: 2em;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.gate button {
  background: var(--main-background);
  color: var(--main-content);
  padding: 1em 2em;
  border: none;
  text-transform: uppercase;
  font-family: 'AkzidenzGroteskLight';
}
#canvas {
  position: fixed;
  pointer-events: none;
  top: 0;
}
