@font-face {
  font-family: 'NeueHaasRegular';
  src: url('/fonts/NeueHaasUnicaPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NeueHassBold';
  src: url('/fonts/NeueHaasUnicaPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'AkzidenzGroteskMedium';
  src: url('/fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'AkzidenzGroteskRegular';
  src: url('/fonts/AkzidenzGrotesk-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'AkzidenzGroteskLight';
  src: url('/fonts/AkzidenzGrotesk-Light.otf') format('opentype');
}

body {
  background: #EFEFEF;
  color: #232323;
  margin: 0;
  font-family: "AkzidenzGroteskMedium";
  font-kerning: normal;
  margin-left: 20px;
  margin-right: 20px;
  @media screen and (min-width: 768px){
    margin-left: 50px;
    margin-right: 50px;
  }
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#hero {
  line-height: 1em;
  font-size: 80px;
  text-align: left;
  font-weight: bold;
  font-family: "AkzidenzGroteskRegular";
  margin-bottom: 80px;
  margin-top: 30px;
  margin-left: -0.09em;
  @media screen and (min-width: 950px){
    font-size: 120px;
  }
}

#copy {
  font-size: 32px;
  font-family: "AkzidenzGroteskLight";
  margin-bottom: 80px;
  margin-left: -0.09em;
  max-width: 800px;
}

a {
  color: #232323;
  text-decoration: none;
}

.thing {
  display: block;
  margin-bottom: 80px;
  font-size: 20px;
  @media screen and (min-width: 768px){
    font-size: 24px;
  }
  margin-left: -0.09em;
  h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  span {
    &:nth-child(1) {
      text-decoration: underline;
      margin-right: .4em;
    }
    &:nth-child(2) {
      font-family: "AkzidenzGroteskLight";
      color: #AAA;
    }
  }
  p {
    font-family: "AkzidenzGroteskLight";
    display: inline-block;
  }
  &:hover {
    cursor: pointer;
    p {
      background: yellow;
    }
  }
}

#th {
  display: inline-block;
  margin-left: .06em;
}