/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/* line 14, ../sass/screen.scss */
* { /*border: 1px solid black;*/ box-sizing: border-box; }

/* line 20, ../sass/screen.scss */
body { margin: 0px; background: #FEFEFE; font-size: 12pt; font-family: "Roboto", sans-serif; }
/* line 25, ../sass/screen.scss */
body * { color: #333; }

/* line 30, ../sass/screen.scss */
a { color: #0e77cc; }
/* line 32, ../sass/screen.scss */
a:hover { text-decoration: none; color: #1e92ef; }
/* line 36, ../sass/screen.scss */
a:focus { text-decoration: none; }

/* line 41, ../sass/screen.scss */
h3 { color: #6d6d6d; font-weight: bold; font-family: "Roboto Slab", serif; margin-top: 5px; }

/* line 47, ../sass/screen.scss */
.project-text h3 { font-size: 20pt; }

/* line 52, ../sass/screen.scss */
.nick { border-radius: 100%; width: 130px; height: 130px; border: 6px solid #0e77cc; display: inline-block; transition: .2s; }
/* line 59, ../sass/screen.scss */
.nick img { width: 90%; display: block; margin: -15px auto; transition: .5s; }
/* line 64, ../sass/screen.scss */
.nick img:hover { transform: rotate(360deg); }

/* line 70, ../sass/screen.scss */
.page-header { margin: 0px; padding: 0px 20px; padding-top: 20px; margin-bottom: 20px; border-bottom: 1px solid #DDD; }

/* line 78, ../sass/screen.scss */
.greeting { font-family: "Oleo Script"; display: inline; font-size: 40pt; color: #0e77cc; transition: .2s; text-shadow: 2px 2px 0px #08406c; }

/* line 87, ../sass/screen.scss */
.card-holder { padding-left: 0px; padding-right: 0px; }

/* line 91, ../sass/screen.scss */
.content-holder { padding-left: 10px; border-left: 1px solid #DDD; }

/* line 96, ../sass/screen.scss */
.single-project { background: white; color: grey; overflow: hidden; padding-bottom: 10px; border-bottom: 1px solid #DDD; margin-bottom: 10px; transform: translateX(0px); transition: .2s; }
/* line 105, ../sass/screen.scss */
.single-project:hover { transform: translateX(2px); }
/* line 107, ../sass/screen.scss */
.single-project:hover .thumb { opacity: 1.0; }

/* line 113, ../sass/screen.scss */
.project-text { padding: 10px; /*padding-left: 0px;*/ }

/* line 118, ../sass/screen.scss */
.top { font-family: 'Oleo Script', cursive; font-size: 100pt; }

/* line 125, ../sass/screen.scss */
.siteButton, .navThing button, .project-link { background: #0e77cc; border: 1px solid transparent; border-radius: 1px; /*box-shadow: 2px 2px 2px rgba(0,0,0,.2);*/ color: white; font-family: "Roboto", sans-serif; font-weight: lighter; text-transform: uppercase; font-size: 10pt; letter-spacing: 3px; text-align: center; /*border: 0px solid transparent;*/ transition: .2s; }
/* line 139, ../sass/screen.scss */
.siteButton:hover, .navThing button:hover, .project-link:hover { background: transparent; border: 1px solid #0b5b9c; color: #0b5b9c; }

/* line 146, ../sass/screen.scss */
.navThing { display: flex; flex-direction: row; -webkit-flex-direction: row; margin: 0px; padding-left: 0px; padding-right: 0px; }
/* line 153, ../sass/screen.scss */
.navThing a { width: 100%; margin: 2px; }
/* line 157, ../sass/screen.scss */
.navThing button { width: 100%; padding: 5px; /*margin: 3px;*/ font-size: 12pt; margin-bottom: 2px; }
/* line 164, ../sass/screen.scss */
.navThing button:hover { transform: translateY(-2px); }

@media screen and (max-width: 406px) { /* line 172, ../sass/screen.scss */
  .nick { margin: 0 auto; display: block; }
  /* line 176, ../sass/screen.scss */
  .greeting { margin: 0 auto; width: 200px; display: block; } }
@media screen and (min-width: 992px) { /* line 184, ../sass/screen.scss */
  .project-body-container { padding-left: 0px; }
  /* line 187, ../sass/screen.scss */
  .greeting { /*transform: skew(-10deg) rotate(-10deg) scaleY(1.2) translateY(-50px) translateX(20px);*/ } }
@media screen and (min-width: 768px) { /* line 194, ../sass/screen.scss */
  .nick { width: 200px; height: 200px; }
  /* line 198, ../sass/screen.scss */
  .greeting { font-size: 60pt; display: inline-block; }
  /* line 202, ../sass/screen.scss */
  .navThing { flex-direction: column; -webkit-flex-direction: column; }
  /* line 206, ../sass/screen.scss */
  .navThing button { width: 100%; display: block; }
  /* line 209, ../sass/screen.scss */
  .navThing button:hover { transform: translateX(-4px); }
  /* line 213, ../sass/screen.scss */
  .main-body { margin: 0px 40px; }
  /* line 216, ../sass/screen.scss */
  .content-label h3 { text-align: right; }
  /* line 219, ../sass/screen.scss */
  .content-label { width: 15%; }
  /* line 222, ../sass/screen.scss */
  .main-content { margin-bottom: 40px; } }
/* line 226, ../sass/screen.scss */
.project-link { padding: 10px; position: relative; bottom: 0px; }

/* line 233, ../sass/screen.scss */
.thumb { width: 100%; opacity: .8; /*transition: .2s;*/ }
/* line 237, ../sass/screen.scss */
.thumb:hover { opacity: 1.0; }

/* line 242, ../sass/screen.scss */
.contact-icon { text-align: center; font-size: 16pt; font-weight: bold; }
/* line 246, ../sass/screen.scss */
.contact-icon p { color: #0e77cc; }
/* line 249, ../sass/screen.scss */
.contact-icon i { text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); color: #0e77cc; transition: .2s; }
/* line 253, ../sass/screen.scss */
.contact-icon i:hover { transform: translateY(-3px); text-decoration: none; cursor: pointer; }

/* line 261, ../sass/screen.scss */
.thumbColumn { width: 240px; }

/* line 265, ../sass/screen.scss */
.footer { position: relative; font-size: 9pt; bottom: 0px; height: 40px; width: 100%; margin-top: 40px; padding: 12px; background: #6d6d6d; }
/* line 267, ../sass/screen.scss */
.footer * { color: white; }
